[flake8]
exclude =
    .cache,
    .git,
    .local,
    .pytest_cache,
    .venv,
    __pycache__,
    */migrations/*,
    venv,
    venvvenv,
    frontend/.nuxt,
    frontend/.output,
    frontend/node_modules
max-line-length = 120
